@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Epilogue', sans-serif;
}

body {
  background:  hsl(0, 0%, 90%);
}

/* header */
  .navbar__mobile {
    display: none;
  }

  #close-menu-icon {
    display: none;
  }

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 0.5rem;

  transition: all .5s ease-in-out
}

.navbar__logo {
  padding-top: .5rem;
  margin-left: 1rem;
}

.navbar__menu {
  width: 50%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  transition: all .5s ease-in-out
}

.navbar__menu .navbar__links {
  display: flex;
  justify-content: space-evenly;

  transition: all .5 ease-in-out;

  margin-left: 2.2rem;
}

.navbar__menu .navbar__links a {
  color: #727070;

  margin: 0 1rem;

  transition: all .5s ease-in-out
}

.navbar__menu .navbar__links a:hover {
  color: #000;

  font-weight: bold;
}

.arrow-img-feature,
.arrow-img-company {
  margin-left: .8rem;

  transition: all .5s ease-in-out
}

/* a outra forma de colocar as arrows ao lado dos links (ruim para mudar no JS)
.arrow-down-feature::after, 
.arrow-down-company::after {
  content: url(../images/icon-arrow-down.svg);
  margin-left: .3rem;
}
*/

.navbar__links--especial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

  transition: all .5s ease-in-out;
}

.navbar__links .mini__menu-feature,
.navbar__links .mini__menu-company {
  display: none;

  list-style: none;

  background-color: white;

  padding: 1rem 0;

  transition: all .5s ease-in-out;
}

/*.arrow-down-feature:active ~ .mini__menu-feature,
.arrow-down-company:active ~ .mini__menu-company{
  display: block;
}*/

.mini__menu-feature.active,
.mini__menu-company.active {
  position: absolute;
  top: 10%;

  display: inline-block;

  transition: all .5s ease-in-out;
}

.navbar__links .mini__menu-feature img,
.navbar__links .mini__menu-company img {
  width: 15px;

  margin-right: .6rem;
}

.navbar__links .mini__menu-feature li ,
.navbar__links .mini__menu-company li {
  margin-bottom: 1rem;
}

.navbar__links .mini__menu-company .invisible {
  color: transparent;

  margin-top: 2rem;
}

.navbar .navbar__buttons {
  width: 15%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar__buttons .login {
  color: #727070;
}

.navbar__buttons .register {
  color: #727070;

  border: 1px solid #1f1e1e;
  border-radius: 12px;

  padding: .7rem 1rem;

  margin-left: 1.5rem;

  font-size: .9rem;
}


/* main */
main {
  width: 100%;
  height: 85vh;

  display: flex;
  justify-content: space-evenly;
}

.main__content {
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.main__content h1 {
  font-size: 4rem;
}

.main__content p {
  font-size: 1.2rem;
  line-height: 1.5rem;

  color: #727070;
}

.main__img {
  width:40%;
}

.main__img .img-desktop{
  width: 90%;
  height: 90%;

  margin: auto;
}

.main__img .img-mobile {
  display: none;
}

.button-learn-more {
  padding: 1rem 1.7rem;

  background-color: #000;
  color: #fff;

  border: none;
  border-radius: 12px;

  font-size: .85rem;
  font-weight: 500;

  cursor: pointer;

  transition: all .3s ease-in-out;
}

.button-learn-more:hover {
  background: hsl(0, 0%, 90%);
  color: #000;

  border: 1px solid #000;
}

.footer__imgs--main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

/* footer */
.footer_img {
  display: none;
}

.footer__attribution { 
    display: flex;
    justify-content: center;

    font-size: 11px; 
    text-align: center; 
}

.footer__attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* mobile version */
@media screen and (max-width: 480px) {
  body {
    max-width: 100vw;
  }

  /* header */
  #close-menu-icon {
    display: flex;
    align-self: flex-end;
  }

  .navbar__mobile {
    display: flex;
    justify-content: space-between;
    
    padding: 1.2rem;
  }

  .navbar__logo {
    display: none;
  }
  
  header .navbar {
    position: fixed;
    right: -100vw;
    top: 0;

    width: 70vw;
    height: 100vh;

    background: white;

    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    transition: all .5s ease-in-out;
  }

  .navbar__menu .navbar__links {
    flex-direction: column;
    gap: 2.5rem;

    margin-top: 2rem;

  }

  .navbar__menu .navbar__links a {
    width: 100%;

    margin: 0;
  }

  .navbar__links--especial {
    padding: 0;

    width: 100%;

    flex-wrap: nowrap;
  }

  .mini__menu-feature.active,
  .mini__menu-company.active {
    position: static;
    top: 0;

    padding: 0;
  }

  .invisible {
    display: none;
  }

  .mini__menu-feature.active li,
  .mini__menu-company.active li {
    width: 120%;
  }

  .navbar__buttons {
    flex-direction: column;
    align-self: center;

    width: 100%;

    margin-top: 4rem;
  }

  .navbar__buttons .login {
    margin-bottom: 1rem;
  }

  .navbar__buttons .register {
    text-align: center;
    width: 200px;
  }


  /* main */
  main {
    flex-direction: column-reverse;

    height: 100vh;
  }

  main .main__img {
    width: 100%;
    height: auto;

    margin-top: 1rem;
  }
  
  main .main__img .img-mobile {
    display: flex;

    width: 100%;
    height: 300px;
  }

  .main__img .img-desktop {
    display: none;
  }

  main .main__content {
    width: 100%;
    height: 50%;

    align-items: center;
    justify-content: space-around;
  }

  .main__content h1 {
    font-size: 2.5rem;
  }

  .main__content h1 br {
    display: none;
  }

  .main__content p {
    width: 100%;

    font-size: 1rem;
    text-align: center;
  }

  .footer__imgs--main {
    justify-content: center;
    gap: 1rem;
  }

  .footer__imgs--main img {
    width: 20%;
  }
}  